<div class="card">
  <div class="card-block">
      <h4>
          <a href="/location/590d8dc7a7cb5b8e3f1bfc48">lifafa cafe</a>
          <small>&nbsp;
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </small>
          <span class="badge badge-pill badge-default float-right">5star</span>
      </h4>
      <p class="address">nagole metro station</p>
      <div class="facilities">
          <span class="badge badge-warning">soft drinks</span>
          <span class="badge badge-warning">pan cakes</span>
          <span class="badge badge-warning">pizzas</span>
      </div>
      <h4>
        <a href="/location/590d8dc7a7cb5b8e3f1bfc48">pizza hut</a>
        <small>&nbsp;
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </small>
        <span class="badge badge-pill badge-default float-right">5star</span>
     </h4>
     <p class="address">uppal metro station</p>
     <div class="facilities">
        <span class="badge badge-warning">soft drinks</span>
        <span class="badge badge-warning">pan cakes</span>
        <span class="badge badge-warning">pizzas</span>
     </div>
     <h4>
      <a href="/location/590d8dc7a7cb5b8e3f1bfc48">subway</a>
      <small>&nbsp;
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </small>
      <span class="badge badge-pill badge-default float-right">4star</span>
     </h4>
     <p class="address">DSL virtual mall</p>
     <div class="facilities">
      <span class="badge badge-warning">soft drinks</span>
      <span class="badge badge-warning">burger</span>
      <span class="badge badge-warning">pizzas</span>
    </div>
    <h4>
      <a href="/location/590d8dc7a7cb5b8e3f1bfc48">magdonalls</a>
      <small>&nbsp;
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </small>
      <span class="badge badge-pill badge-default float-right">4star</span>
     </h4>
     <p class="address">narapally</p>
     <div class="facilities">
      <span class="badge badge-warning">soft drinks</span>
      <span class="badge badge-warning">burger</span>
      <span class="badge badge-warning">pizzas</span>
    </div>
   </div>
</div>