<div class="card">
    <div class="card-block">
      <h4>
        <a href="/location/590d8dc7a7cb5b8e3f1bfc48">lifafa</a>
        <small>&nbsp;
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </small>
        <span class="badge badge-pill badge-default float-right">14.0km</span>
    
        </h4>
        <p class="address">nagol metro station</p>
        <div class="facilities">
          <span class="badge badge-warning">hot drinks</span>
          <span class="badge badge-warning">food</span>
          <span class="badge badge-warning">power</span>
        </div>
    </div>
</div>