extends layout

block content
  .row.banner
    .col-12
      h1 IMD Food services 
        small &nbsp;Find your favourte food 
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") pista house  
            img(src='https://img4.nbstatic.in/tr:w-500/5f34d3514cedfd000b584d12.jpg',style='width:20px,height:20px') 
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 5
          p near LFS high school hyderabad 
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi
        .card-block
          h4
            a(href="/location") SVM Grand
            img(src='https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/de/0c/b1/oyo-10127-svm-grand-uppal.jpg?w=700&h=-1&s=1',style='width:10px,height:10px')
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 5
          p Medapally hyderabad
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Foods
            span.badge.badge-warning Premium wifi
        .card-block
          h4
            a(href="/location") Red bucket
            img(src='https://redbucketbiryani.com/wp-content/uploads/2022/04/location-01.jpg',style='width:1px,height:1px')
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 5
          p jodimetla cross road hyderabad 
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi
        .card-block
          h4
            a(href="/location") tulips grand 
            img(src='https://media-cdn.tripadvisor.com/media/photo-s/0e/16/9e/ca/the-signage.jpg',style='width:1px,height:1px')
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 4
          p jodimetla cross road hyderabad 
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi
        .card-block 
          h4
            a(href="/location") dawat mandi resturant 
            img(src='https://content.jdmagicbox.com/comp/bilaspur-chhattisgarh/x6/9999p7752.7752.150603191614.k3x6/catalogue/daawat-family-reastuarant-telephone-exchange-road-bilaspur-chhattisgarh-restaurants-2pamnyfi7t.jpg',style='width:1px,height:1px')
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 4
          p uppal bus depo hyderabad 
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi
        .card-block 
          h4
            a(href="/location") train resturant 
            img(src='https://imgmediagumlet.lbb.in/media/2019/12/5dfb3c4680fd92818bc2cfc9_1576746054861.jpg?fm=webp&w=750&h=500&dpr=1',style='width:1px,height:1px')
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 3
          p boduppal hyderabad 
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi
           
    .col-12.col-md-4
      p.lead want to eat good food.come and enjoy our food with your required fantasies.