extends layout

block content
  .row.banner
    .col-12
      h1 IMD Food services 
        small &nbsp;Find your favourte food 
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") pista house 
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 5
          p near LFS high school hyderabad 
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi
        .card-block
          h4
            a(href="/location") SVM Grand
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 5
          p Medapally hyderabad
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Foods
            span.badge.badge-warning Premium wifi
        .card-block
          h4
            a(href="/location") Red bucket
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 5
          p jodimetla cross road hyderabad 
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi
        .card-block
          h4
            a(href="/location") tulips grand 
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 4
          p jodimetla cross road hyderabad 
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi
        .card-block 
          h4
            a(href="/location") dawat mandi resturant 
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 4
          p uppal bus depo hyderabad 
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi
        .card-block 
          h4
            a(href="/location") train resturant 
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 3
          p boduppal hyderabad 
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi
           
    .col-12.col-md-4
      p.lead want to eat good food.come and enjoy our food with your required fantasies.